$smoke: #3c3c3c;

.start {
	position: absolute;
	top: 25%;
	right: 3%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.start-btn {
	width: 220px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $smoke;
	opacity: 0.6 !important;
	border: 0 !important;
	color: white !important;
	height: 40px;
	z-index: 9999999;
}

.start-btn:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 100%;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.7);
	animation-name: shine;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

@keyframes shine {
	0% {
		width: 0%;
		background-color: rgba(255, 255, 255, 0.7);
	}
	100% {
		width: 120%;
		background-color: rgba(255, 255 ,255, 0.0)
	}
}