.iw {
	display: flex;
	align-items: center;
	// justify-content: center;
	flex-direction: column;
}

.iw-name {
	width: 100%;
	text-align: left;
	padding: 5px;
	font-size: 16px;
	font-weight: 200;
}

.iw-photo {

}