$lavender: #9b59b6;

#markerLayer > div {
	display: flex;
	justify-content: center;
	z-index: 0 !important;
}

#markerLayer img {
	z-index: 0 !important;
}

.canvas {
	// border: 2px solid red;
	display: flex;
	justify-content: center;
	z-index: 9999999;
}

.marker {
}

.ring {
  // cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	border-width: 3px;
	border-style: solid;
	z-index: 9999999;
}
.lavender {
	border-color: $lavender;
}

.shadow {
	background: #d6d4d4;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	position: absolute;
	bottom: 12px;
	transform: rotateX(55deg);
	z-index: -1;
	&:after {
		content: "";
		border-radius: 50%;
		height: 40px;
		width: 40px;
		position: absolute;
		margin: -13px 0 0 -13px;
		animation: pulsate 1s ease-out;
		animation-iteration-count: infinite;
		opacity: 0;
		animation-delay: 1.1s;
		box-shadow: 0 0 1px 2px $lavender;
	}
}

.hover:hover {
	* {
		animation-fill-mode: forwards;
		animation-duration: 0.5s;
	}
	.ring {
		animation-name: hover;
	}
	.shadow, .shadow:after {
		animation-name: flatten;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(0.1, 0.1);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

@keyframes hover {
	0% {
		transform: translateY(0);
	}
	80% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(8px);
	}
}

@keyframes flatten {
	0% {

	}
	80% {
		height: 8px;
		width: 22px;
		margin: 7px 0 0 -24px;
	}
	100% {
		height: 10px;
		width: 18px;
		margin: 9px 0 0 -22px;
	}
}