$major: 'Gruppo';
$minor: 'Raleway';

$smoke: #3c3c3c;

.logo {
	font-family: $major, cursive;
	font-size: 26px;
	color: white !important;
}

.turquoise {
	background-color: $smoke !important;
}

.transparent {
	opacity: 0.9;
}

.wrap {
	border: 0 !important;
	border-radius: 0 !important;
}

.white {
	color: white !important;
}

.icon-bar {
	background-color: white !important;
}

nav {
	z-index: 9999999;
}

nav button {
	border: 0 !important;
}

.navbar-toggle {
	background-color: $smoke !important;
}

.navbar-collapse {
	border: 0px solid rgba(255, 255, 255, 0.0) !important;
}