@import 'https://fonts.googleapis.com/css?family=Raleway:100,400|Yatra+One';
@import 'marker';

$turquoise: #36D7B7;

* {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: black;
	&:link {
		text-decoration: none;
		color: black;
	}
	&:visited {
		text-decoration: none;
		color: black;
	}
	&:hover {
		text-decoration: none;
		color: black;
	}
	&:active {
		text-decoration: none;
		color: black;
	}
}

ul {
	list-style-type: none;
}

h1 {
	letter-spacing: 1px;
	margin-top: 30px;
}

th {
	text-align: center;
}

.turquoise {
	background-color: $turquoise !important;
}

.wrap {
	border: 0 !important;
	border-radius: 0 !important;
}

.white {
	color: white !important;
}

.icon-bar {
	background-color: white !important;
}

nav button {
	border: 0 !important;
}

.navbar-toggle {
	background-color: $turquoise !important;
}

.navbar-collapse {
	border: 0px solid rgba(255, 255, 255, 0.0) !important;
}

.logo {
	font-family: 'Yatra One', cursive;
	font-size: 26px;
	color: white !important;
}

.start {
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 9999999;
}

.angular-google-map {

}

.angular-google-map-container { 
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -9999999;
}

#loginContainer {
    width: 50%;
    margin:5% 0 0 25%;
    background-color: #468C77;
}

#signupContainer {
    width: 50%;
    margin:5% 0 0 25%;
    background-color: #468C77;
}

#loginForm {
    outline:2px solid rgba(0, 0, 0, .1);
    text-align: center;
    padding:3%;
    padding-bottom: 3%;
}

#signupForm {
    outline:2px solid rgba(0, 0, 0, .1);
    text-align: center;
    padding:3%;
    padding-bottom: 3%;
}

#loginHeader {
    border-bottom: 1px solid #c9c8c5;
    text-align: left;
    color: white;
}

#signupHeader {
    border-bottom: 1px solid #c9c8c5;
    text-align: left;
    color: white;
}

#loginFooter, #loginHeader {
    padding:3%;
    background-color: #363636;
}

#signupFooter, #signupHeader {
    padding:3%;
    background-color: #363636;
}

.btn {
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:hover {
    background: #000;
    color: #fff;
}

.BSicon {
    border-radius: 50%;
    border: 2px solid #222;
}

.error{
    color: red;
    background-color: yellow;
}

#dashboardTable{
    width: 60%;
    margin: auto;
}

#playerTable{
    width: 200px;
    border: 3px solid #468C77;
    margin: 30px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tablePlayerName {
    background-color: #468C77;
}

.found {
    color: green;
}

.notFound {
    color: red;
}

#markerContainer {
    width: 50px;
    height: 50px;
    background-color: black;
}

#playermarker {
    background-color: black;
    width: 200px;
    height: 200px;
}

#bulba {
    background-color: black;
}

/*color pallete!*/
/*https://coolors.co/313715-d16014-939f5c-bbce8a-e2f9b8*/