@import 'https://fonts.googleapis.com/css?family=Raleway:100,200|Gruppo';
@import 'marker';

$major: 'Gruppo';
$minor: 'Raleway';

$smoke: #6C7A89;
$pomegranate: #F62459;

* {
	font-family: $minor, sans-serif;
	font-weight: 200;
}

a {
	text-decoration: none;
	color: black;
	&:link {
		text-decoration: none;
		color: black;
	}
	&:visited {
		text-decoration: none;
		color: black;
	}
	&:hover {
		text-decoration: none;
		color: black;
	}
	&:active {
		text-decoration: none;
		color: black;
	}
}

ul {
	list-style-type: none;
}

h1 {
	letter-spacing: 1px;
	margin-top: 30px;
}

th {
	text-align: center;
}

.turquoise {
	background-color: $smoke !important;
}

.transparent {
	opacity: 0.9;
}

.upper {
	text-transform: uppercase;
}

.wrap {
	border: 0 !important;
	border-radius: 0 !important;
}

.white {
	color: white !important;
}

.icon-bar {
	background-color: white !important;
}

nav button {
	border: 0 !important;
}

.navbar-toggle {
	background-color: $smoke !important;
}

.navbar-collapse {
	border: 0px solid rgba(255, 255, 255, 0.0) !important;
}

.logo {
	font-family: $major, cursive;
	font-size: 26px;
	color: white !important;
}

.large {
	font-size: 34px;
}

.center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.pomegranate {
	color: $pomegranate;
}

.temporary {
	animation-name: fade;
	animation-fill-mode: forwards;
	animation-duration: 5s;
	z-index: 9999999;
}

@keyframes fade {
	0% {
		opacity: 1.0;
		z-index: 9999999;
	}
	80% {
		opacity: 1.0;
		z-index: 9999999;
	}
	100% {
		opacity: 0.0;
		z-index: -9999999;
	}
}

.start {
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 9999999;
}

.start:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 100%;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.7);
	animation-name: shine;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

@keyframes shine {
	0% {
		width: 0%;
		background-color: rgba(255, 255, 255, 0.7);
	}
	100% {
		width: 120%;
		background-color: rgba(255, 255 ,255, 0.0)
	}
}

.angular-google-map {

}

.angular-google-map-container { 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -9999999;
}

#loginContainer {
	width: 50%;
	margin:5% 0 0 25%;
	background-color: #468C77;
}

#signupContainer {
	width: 50%;
	margin:5% 0 0 25%;
	background-color: #468C77;
}

#loginForm {
	outline:2px solid rgba(0, 0, 0, .1);
	text-align: center;
	padding:3%;
	padding-bottom: 3%;
}

#signupForm {
	outline:2px solid rgba(0, 0, 0, .1);
	text-align: center;
	padding:3%;
	padding-bottom: 3%;
}

#loginHeader {
	border-bottom: 1px solid #c9c8c5;
	text-align: left;
	color: white;
}

#signupHeader {
	border-bottom: 1px solid #c9c8c5;
	text-align: left;
	color: white;
}

#loginFooter, #loginHeader {
	padding:3%;
	background-color: #363636;
}

#signupFooter, #signupHeader {
	padding:3%;
	background-color: #363636;
}

.btn {
	border: 1px solid #000;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn:hover {
	background: #000;
	color: #fff;
}

.BSicon {
	border-radius: 50%;
	border: 2px solid #222;
}

.error{
	color: red;
	background-color: yellow;
}

#dashboardTable{
	width: 60%;
	margin: auto;
}

#playerTable{
	width: 200px;
	border: 3px solid #468C77;
	margin: 30px;
}

.flex-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.tablePlayerName {
	background-color: #468C77;
}

.found {
	color: green;
}

.notFound {
	color: red;
}