<div>
  <div class="center temporary announcement"><span>
    Click on the map to select destinations
  </span></div>

  <div class="start">
    <div class="start-btn btn" ng-show="destinations.length && showMap" ng-click="createPublicGame()">Create Public Game</div>
    <div class="start-btn btn" ng-show="destinations.length && showMap" ng-click="createPrivateGame()">Create Private Game</div>
  </div>

  <div class="center announcement" ng-if="gamePath"><span>
    Share this url with your friends: <a id="gamePath" ng-href="{{gamePath}}">{{gamePath}}</a>
  </span></div>

  <div id="map"></div>
</div>