<div>
  <h1>Create a New Game~</h1>

  <!-- Map to choose waypoints -->
  <ui-gmap-google-map center='map.center' zoom='map.zoom' ng-show="showMap">
    <ui-gmap-drawing-manager
      options="createOptions"
      control='{}'
      static='true'>
    </ui-gmap-drawing-manager>
    <ui-gmap-markers models="map.markers" idKey="'sequence'" coords="'self'" options="'options'"></ui-gmap-markers>
  </ui-gmap-google-map>

  <button ng-click="submitWaypoints()" ng-show="showMap">Start Game</button>

  <div class="sharePath">
    <h3 ng-if="gamePath">Share this url with your friends: <a id="gamePath" ng-href="{{ gamePath }}">{{ gamePath }}</a></h3>
  </div>
</div>