<div>
  <div class="large temporary center pomegranate upper"><span>Select waypoints to build your game</span></div>
  <!-- Map to choose waypoints -->
  <ui-gmap-google-map
    center="map.center"
    events="map.events"
    zoom="map.zoom"
    bounds="map.bounds"
    ng-show="showMap"
  >
    <ui-gmap-search-box
      options="searchbox.options"
      events="searchbox.events"
      template="searchbox.template"
      position="searchbox.position"
    ></ui-gmap-search-box>
    <ui-gmap-markers
      models="map.markers"
      idKey="'sequence'"
      coords="'self'"
      options="'options'"
    >
      <ui-gmap-windows show="show">
        <div ng-non-bindable>{{title}}</div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>

  <div class="start btn" ng-show="map.markers.length && showMap" ng-click="submitWaypoints()">
    Start The Hunt
  </div>

  <div class="sharePath">
    <h3 ng-if="gamePath">
      Share this url with your friends: 
      <a id="gamePath" ng-href="{{ gamePath }}">
        {{ gamePath }}
      </a>
    </h3>
  </div>
</div>