<div>
  <h2>Current Game Stats</h2>

  <h3>Players</h3>
  <div class="flex-container">
    <div ng-repeat="player in players" id="playerTable">
      <table class="table">
        <thead>
          <tr>
            <th class="tablePlayerName" colspan="2">{{player.username}}</th>
          </tr>
          </tr>
            <th>Location</th>
            <th>Status</th>
        </thead>
        <tbody>
          <tr ng-repeat="location in player.locations">
            <td>{{location.sequence}}</td>
            <td ng-if="location.statuses.status === true"><span class="found glyphicon glyphicon-ok"></span></td>
            <td ng-if="location.statuses.status === false"><span class="notFound glyphicon glyphicon-remove"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>