<div>
  <p>hello I'm a game map view</p>
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="markers" idKey="'id'" coords="'self'" options="'options'"></ui-gmap-markers>
    <ui-gmap-circle center="circle.center" radius="circle.radius" stroke="circle.stroke" fill="circle.fill" clickable="circle.clickable"></ui-gmap-circle>
  </ui-gmap-google-map>

  <div class="playerProgress">

    <h3>Status for Player: {{user.username}}</h3>
    <p ng-if="verifyFailed">You are not at this location</p> <!-- will show if user is not within 250 meters of location -->
    <h4>Locations</h4>
      <form>
        <div ng-repeat="location in markers"> <!-- populate list of locations and their status with checkboxes -->
          <input ng-change="validateLocation({{location.id}})" ng-model="validateMe" type="checkbox" value="{{location.sequence}}" ng-checked="location.statuses.status" ng-disabled="location.statuses.status"><span ng-class="{statusComplete: location.statuses.status}">Location: {{location.sequence}}</span><br>
        </div>
      </form>
  </div>
</div>