<div>
  <!-- <p>hello I'm a game map view</p> -->

  <div ng-show="locationError">
    <h3 class="error">Your location wasn't found!</h3>
    <p><<< If you are using Chrome, please try another browser >>></p>
  </div>
    

  <ui-gmap-google-map events='map.events' center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="markers" idKey="'id'" coords="'self'" options="'options'"></ui-gmap-markers>
    <ui-gmap-marker 
    center="circle.center" 
    idKey="254" 
    options="mark.options" coords="circle.center" events='mark.events'
    clickable=true>
    </ui-gmap-marker>

    <ui-gmap-window coords ="circle.center" options="wind.options" show="wind.show">
           <div>
             <img src = 'http://pldh.net/media/pokemon/shuffle/007.png'/>
           </div>
         </ui-gmap-window>
    <ui-gmap-circle 
    ng-repeat="object in players"
    radius="100"
    stroke="{color: '#DF6C0A', weight: 1, opacity: 1.0}"
    fill="{color: '#DF6C0A', opacity: 0.8}"
    center="{latitude: object.latitude, longitude: object.longitude}"
    clickable=true>
  </ui-gmap-circle>
    <!-- temporary player 2 marker only will eventally have array of users! -->
    <!--TODO append other player locations here -->

  </ui-gmap-google-map>

  <div class="playerProgress">

    <h3>Status for Player: {{user}} </h3>
    <p ng-if="verifyFailed">You are not at this location</p> <!-- will show if user is not within 100 meters of location -->
    <h4>Locations</h4>

    <div class="btn-group btn-group-lg" role="group">
      <div ng-repeat="location in markers" ng-click="validateLocation(location.id)" ng-model="validateMe" class="btn btn-primary" ng-class="{disabled: location.statuses.status}" role="group">{{location.sequence}}</div>
    </div>
  </div>
</div>