<div>
  <!-- <p>hello I'm a game map view</p> -->

  <div ng-show="locationError">
    <h3 class="error">Your location wasn't found!</h3>
    <p><<< If you are using Chrome, please try another browser >>></p>
  </div>
    
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="markers" idKey="'id'" coords="'self'" options="'options'"></ui-gmap-markers>
    <ui-gmap-circle center="circle.center" radius="circle.radius" stroke="circle.stroke" fill="circle.fill" clickable="circle.clickable"></ui-gmap-circle>
  </ui-gmap-google-map>

  <div class="playerProgress">

    <h3>Status for Player: {{user}}</h3>
    <p ng-if="verifyFailed">You are not at this location</p> <!-- will show if user is not within 100 meters of location -->
    <h4>Locations</h4>

    <div class="btn-group btn-group-lg" role="group">
      <div ng-repeat="location in markers" ng-click="validateLocation(location.id)" ng-model="validateMe" class="btn btn-primary" ng-class="{disabled: location.statuses.status}" role="group">{{location.sequence}}</div>
    </div>
  </div>
</div>