<div class="transparent login-container">
  <form class="login-form" ng-submit='signup()'>
    <div class="login-header">
      <h3> Signup </h3>
    </div>
    <div>
      <input class="login-input" type='text' ng-model=user.username placeholder='username' required />
    </div>
    <div>
      <input class="login-input" type='password' ng-model=user.password placeholder='password' required />
    </div>
    <div class="login-footer">
      <input class="login-button" type='submit' />
    </div>
    <a class="login-link" href="/#/login">Already have an account?</a>
  </form>
</div>